/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #232946;
    color: #fff;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd803;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 50px;
    background: #fffffe;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-utama {
    padding: 12px 25px;
    background: #0051ff;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-utama:hover {
    background: #002fa1;
}

/* KEUNGGULAN */
.keunggulan {
    text-align: center;
    padding: 60px 50px;
}

.keunggulan h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: #fff;
    padding: 25px;
    width: 28%;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background: #232946;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        width: 90%;
        margin-top: 25px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}